<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nocol.dao.DeptDao">

	<select id="findById" resultType="com.nocol.entities.Dept" parameterType="Long">
		select deptno,dname,db_source from simba_dept where deptno=#{deptno};
	</select>
	<select id="findAll" resultType="com.nocol.entities.Dept">
		select deptno,dname,db_source from simba_dept;
	</select>
	<insert id="addDept" parameterType="com.nocol.entities.Dept">
		INSERT INTO simba_dept(dname,db_source) VALUES(#{dname},DATABASE());
	</insert>

</mapper>
 

